.parent {
  position: relative;
}

.hero-img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

/* CENTER TEXT */
.client-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.client-name h1 {
  font-size: 3rem;
  font-weight: bold;
}

.client-name h5 {
  font-size: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .parent {
    min-height: calc(65vh - 60px);
  }

  .hero-img {
    height: 65vh;
  }

  .client-name h1 {
    font-size: 2.2rem;
  }

  .client-name h5 {
    font-size: 1rem;
  }
}
