.parent {
  position: relative;
}

.hero-img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: center;  /* Always centered */

}

/* CENTER TEXT */
.client-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.client-name h1 {
  font-size: 3rem;
  font-weight: bold;
}

.client-name h5 {
  font-size: 1.5rem;
}

/* Tablet (1024px and below) */
@media screen and (max-width: 1024px) {
  .parent {
    min-height: 70vh;
  }
  .hero-img {
    height: 50vh;
  }
  .client-name h1 {
    font-size: 2rem;
  }
  .client-name h5 {
    font-size: 1rem;
  }
}

/* Mobile Landscape (768px and below) */
@media screen and (max-width: 768px) {
  .parent {
    min-height: 60vh;
  }

  .hero-img {
    height: 65vh;
  }

  .client-name h1 {
    font-size: 1.8rem;
  }

  .client-name h5 {
    font-size: 0.9rem;
  }
}

/* Mobile Phones (576px and below) */
@media screen and (max-width: 576px) {
  .parent {
    min-height: 55vh;
  }

  .hero-img {
    height: 65vh;
  }

  .client-name h1 {
    font-size: 1.6rem;
  }

  .client-name h5 {
    font-size: 0.85rem;
  }
}
