
.resume-img {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 65vh;         
  object-fit: cover;
  display: block;
}

/* BLUE OVERLAY */
.resume-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 38, 102, 0.55);
  pointer-events: none;
}

/* Tablets */
@media (max-width: 992px) {
  .img {
    height: 50vh;
  }
}

/* Mobile Large */
@media (max-width: 768px) {
  .img {
    height: 40vh;
  }
}

/* Mobile Small */
@media (max-width: 480px) {
  .img {
    height: 30vh;
  }
}

/* CV Pic */

.resume {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;
}

.resume img {
  width: 70%;           
  max-width: 600px;    
  height: auto;
  display: block;
  object-fit: cover;
}


/* Tablet */
@media (max-width: 992px) {
  .resume img {
    width: 80%;
  }
}

/* Mobile Large */
@media (max-width: 768px) {
  .resume img {
    width: 90%;
  }
}

/* Mobile Small */
@media (max-width: 480px) {
  .resume img {
    width: 98%;
  }
}



/* CV Download Button */

.btn-wrap {
  margin-top: 15px;
}
.link{
  text-decoration: none;
}
.download-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #1e40af22;
  color: #1e40af;
  border: 1px solid #1e40af44;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s ease;
}
.download-btn svg path {
  fill: #1e40af;
}

.download-btn:hover {
  background: #1e40af33;
  transform: translateY(-3px);
  box-shadow: 0 5px 12px rgba(30, 64, 175, 0.3);
}