/* From Uiverse.io by Praashoo7 */ 
.main {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.cards1 {
  width: 60px;
  height: 60px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.instagram {

  margin-top: 1.5em;
  margin-left: 1.5em;
  fill: #cc39a4;
}

.cards2 {
 width: 60px;
  height: 60px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.twitter {
  margin-top: 1.5em;
  margin-left: 0.5em;
  fill: #03A9F4;
}

.cards3 {
  width: 60px;
  height: 60px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.github {
  margin-top: .5em;
  margin-left: 1.5em;
}

.cards4 {
  width: 60px;
  height: 60px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.discord {
  margin-top: .5em;
  margin-left: .5em;
  fill: #8c9eff;
}

.cards1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.cards1:hover .instagram {
  fill: white;
}

.cards2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03A9F4;
}

.cards2:hover .twitter {
  fill: white;
}

.cards3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.cards3:hover .github {
  fill: white;
}

.cards4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}

.cards4:hover .discord {
  fill: white;
}