header {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.list{
    font-size: 1.7rem;
    font-family: "client";
}
.nav-link {
    display: inline-block;      
    transition: all 0.3s ease;
}
.client-name{
    font-family: "client";
}
.nav-link:hover {
    color: #fb2056;
    transform: scale(1.2);     
}
@media screen and (max-width: 1024px) {
    .nav-img {
        display: none;
    }
}
