.back-img {
    width: 100%;
    height: 70vh;
    background-image: url('../../../assets/images/man.png'); /* Public folder image */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    display: flex;            /* Center content */
    justify-content: center;
    align-items: center;
}

.pro {
    color: white;
    font-size: 4rem;
    font-family: "client";
    margin: 0;
}
