#root{
    display: flex;
    flex-direction: column;
    height: 100vh;    
}
#root::selection{
    background-color: #fb2056;;
}
main{
    flex: 1 0 auto;
}
@font-face {
    font-family: "client";
    src: url('./assets/Fonts/RobotoCondensed-VariableFont_wght.ttf');
}


